# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# macOS
.DS_Store

# Data files (common in bioinformatics)
*.bam
*.bai
*.vcf
*.vcf.gz
*.tbi
*.fastq
*.fq
*.fasta
*.fa
*.gz

# Results & outputs
results/
output/
logs/
data/input/*
data/ref/*

# Conda
.conda/

# Jupyter
.ipynb_checkpoints/

# Large files
*.zip
*.tar.gz
*.sif
